body{
    margin: 0px;
}

.menu-superior{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & a {
        color:white;
        text-decoration: none;
        border-bottom-style: solid;
        border-color: black;
        transition: 0.5s;
    }
    & a:hover {
        color:yellow;
        border-bottom-style: solid;
        border-color: yellow;
    }

}