body{
    font-size: 14px;
    font-family: 'Gill Sans';
    color: brown;
    background-color: #add8e6;
    line-height: 1.5;

    & h1,h2 {
        font-size: 14px;
        font-family: 'Gill Sans';
        font-weight: normal;
        color: brown;
        background-color: #add8e6;
        line-height: 1.5;
}
}

